.github/**
.vscode/**
test/**
src/**
types/**
out/**
!out/src/index.js
**/*.map
.gitignore
.eslintrc
.eslintignore
CHANGELOG OLD.md
esbuild.mjs
tsconfig.json
tsconfig.test.json
package-lock.json
node_modules
rollup.config.js
**/preview.png