**/*
!package.json
!README.md
!CHANGELOG.md
!LICENSE
!out/src/index.js
!images/git_icon_3d.png
!out/src/extension-*.js
!out/src/chunk-*.js
!out/src/execute-*.js
!out/src/logger-*.js
!out/src/property-*.js
